Checks: >
  -*-avoid-c-arrays,
  -*-narrowing-conversions,
  -*-non-private-member-variables-in-classes,
  -*-uppercase-literal-suffix,
  -*-vararg,
  -bugprone-branch-clone,
  -bugprone-parent-virtual-call,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-string-compare,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -google-readability-todo,
  -google-runtime-int,
  -google-runtime-references,
  -hicpp-multiway-paths-covered,
  -llvm-header-guard,
  -misc-redundant-expression,
  -portability-simd-intrinsics,
InheritParentConfig: true
