Checks: >
  -*-narrowing-conversions,
  -android-cloexec-*,
  -bugprone-exception-escape,
  -bugprone-parent-virtual-call,
  -bugprone-reserved-identifier,
  -cert-dcl21-cpp,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-err58-cpp,
  -cert-str34-c,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-slicing,
  -google-readability-todo,
  -google-runtime-int,
  -google-runtime-references,
  -hicpp-multiway-paths-covered,
  -hicpp-vararg,
  -llvm-header-guard,
  -readability-convert-member-functions-to-static,
InheritParentConfig: true
