Checks: >
  *,
  -*-avoid-c-arrays,
  -*-magic-numbers,
  -*-named-parameter,
  -*-narrowing-conversions,
  -*-non-private-member-variables-in-classes,
  -*-special-member-functions,
  -*-uppercase-literal-suffix,
  -abseil-string-find-str-contains,
  -altera-*,
  -android-cloexec-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-macro-parentheses,
  -bugprone-parent-virtual-call,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-string-compare,
  -cert-dcl21-cpp,
  -cert-dcl37-c,
  -cert-dcl50-cpp,
  -cert-dcl51-cpp,
  -cert-err33-c,
  -cert-err34-c,
  -cert-err58-cpp,
  -cert-str34-c,
  -clang-analyzer-alpha.*,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-analyzer-valist.Uninitialized,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-slicing,
  -fuchsia-*,
  -google-default-arguments,
  -google-explicit-constructor,
  -google-readability-casting,
  -google-readability-todo,
  -google-runtime-int,
  -google-runtime-references,
  -hicpp-explicit-conversions,
  -hicpp-multiway-paths-covered,
  -hicpp-no-array-decay,
  -hicpp-no-malloc,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-no-recursion,
  -misc-unused-parameters,
  -modernize-avoid-bind,
  -modernize-concat-nested-namespaces,
  -modernize-make-unique,
  -modernize-return-braced-init-list,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-use-anyofallof,
CheckOptions:
  - key:   modernize-use-override.AllowOverrideAndFinal
    value: 'true'
CheckOptions:
  - key:   cppcoreguidelines-explicit-virtual-functions.AllowOverrideAndFinal
    value: 'true'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
