Checks: >
  *,
  -*-avoid-c-arrays,
  -*-else-after-return,
  -*-magic-numbers,
  -*-member-init,
  -*-named-parameter,
  -*-narrowing-conversions,
  -*-non-private-member-variables-in-classes,
  -*-special-member-functions,
  -*-uppercase-literal-suffix,
  -abseil-string-find-str-contains,
  -android-cloexec-fopen,
  -bugprone-branch-clone,
  -bugprone-exception-escape,
  -bugprone-macro-parentheses,
  -bugprone-parent-virtual-call,
  -bugprone-reserved-identifier,
  -bugprone-signed-char-misuse,
  -bugprone-suspicious-string-compare,
  -cert-dcl37-c,
  -cert-dcl50-cpp,
  -cert-dcl51-cpp,
  -cert-err34-c,
  -cert-err58-cpp,
  -cert-str34-c,
  -clang-analyzer-alpha.*,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-analyzer-valist.Uninitialized,
  -clang-analyzer-webkit.NoUncountedMemberChecker,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-slicing,
  -fuchsia-*,
  -google-default-arguments,
  -google-explicit-constructor,
  -google-readability-todo,
  -google-runtime-int,
  -google-runtime-references,
  -hicpp-explicit-conversions,
  -hicpp-multiway-paths-covered,
  -hicpp-no-array-decay,
  -hicpp-no-malloc,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-no-recursion,
  -misc-unused-parameters,
  -modernize-use-trailing-return-type,
  -portability-simd-intrinsics,
  -readability-convert-member-functions-to-static,
  -readability-implicit-bool-conversion,
  -readability-use-anyofallof,
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/ingen/.*|tests/.*|src/.*'
FormatStyle: file
