Checks: >
  *,
  -*-magic-numbers,
  -*-named-parameter,
  -*-narrowing-conversions,
  -*-non-private-member-variables-in-classes,
  -*-special-member-functions,
  -abseil-*,
  -altera-*,
  -cppcoreguidelines-macro-usage,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-multiple-inheritance,
  -fuchsia-overloaded-operator,
  -google-default-arguments,
  -google-explicit-constructor,
  -hicpp-explicit-conversions,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-unused-parameters,
  -modernize-concat-nested-namespaces,
  -modernize-pass-by-value,
  -modernize-return-braced-init-list,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
CheckOptions:
  - key:   modernize-use-override.AllowOverrideAndFinal
    value: 'true'
CheckOptions:
  - key:   cppcoreguidelines-explicit-virtual-functions.AllowOverrideAndFinal
    value: 'true'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
