[Desktop Entry]
Encoding=UTF-8
Name=Ingen
Comment=Create synthesizers and effects processors in a modular environment
Exec=ingen -eg
Terminal=false
Icon=ingen
Type=Application
Categories=Application;AudioVideo;Sound;Audio
