Checks: >
  -*-avoid-c-arrays,
  -*-macro-to-enum,
  -*-vararg,
  -android-cloexec-*,
  -boost-use-ranges,
  -bugprone-easily-swappable-parameters,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-unchecked-optional-access,
  -cert-dcl50-cpp,
  -cert-err33-c,
  -cert-err34-c,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-analyzer-valist.Uninitialized,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -fuchsia-statically-constructed-objects,
  -hicpp-no-array-decay,
  -hicpp-no-malloc,
  -misc-no-recursion,
  -misc-unused-parameters,
  -readability-function-cognitive-complexity,
InheritParentConfig: true
